:root {
  --transition: ease-in-out;
  --transitionTime1: .25s;
  --transitionTime2: .5s;
  --transitionTime3: 1s;
  --cyan: #58d9ef;
  --height: 50vh;
}

::after,
::before,
* {
  margin: 0;
  list-style: none;
  padding: 0;
  /* border-style: none; */
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  /* background-color: #858585; */
  /* background-image: url(../images/test\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 5880px; */
}

[hidden] {
  display: none;
}

.script {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 100;
  color: red;
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.script>a,
.script>p {
  /* font-family: Cyberpunk; */
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.script>p {
  text-transform: capitalize;
}

.script:hover {
  cursor: not-allowed;
}

code {
  color: white;
  background-color: rgb(63, 63, 63);
  font-family: 'Source Code Pro',
    monospace;
}

code .tag {
  color: red;
}

.container {
  margin: 0 auto;
  /* max-width: 860px; */
  max-width: 1150px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  margin-left: -10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 800px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 650px;
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.headerWrapper .rhs,
.headerWrapper .lhs {
  display: flex;
  align-items: center;
}

.headerWrapper .lhs .logo {
  display: flex;
  width: 170px;
}

.headerWrapper .lhs .whiteLogo {
  display: flex;
}

.headerWrapper .lhs .blackLogo {
  display: none;
}

.headerWrapper .rhs {
  width: 100%;
  justify-content: flex-end;
}

.headerWrapper .rhs ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  margin-right: 10px;
}


.headerWrapper .rhs ul li {
  color: white;
  transition: var(--transition) var(--transitionTime1);
  border: 1px rgba(255, 255, 255, 0) solid;
}

.headerWrapper .rhs ul li:hover {
  border-bottom: 1px white solid;
  margin: 0 -10px;
  padding: 5px 10px;
  opacity: .8;
  border-bottom-color: inherit;
}

li.border-cyan {
  color: var(--cyan) !important;
}

.headerWrapper .rhs ul li.active {
  border: 1px white solid;
  margin: 0 -10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.headerWrapper .rhs ul li.active:hover {
  border-radius: 10px;
}

.headerWrapper .rhs ul li a {
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  /* color: white; */
  color: inherit;
  font-size: 14px;
}


.headerWrapper .rhs img {
  width: 35px;
  transition: ease-out .25s;
  filter: contrast(0%) brightness(100);
  border: 0 rgba(0, 0, 0, 0) solid;
  border-radius: 50%;
}

input.searchField {
  opacity: 0;
}


.headerWrapper .rhs img:hover {
  border: 1px white solid;
  padding: 5px;
}

img.search:hover input.searchField {
  opacity: 1;
  border: 1px red solid;
}

.hamburger {
  display: none;
  padding: 0 5px;
  /* filter: contrast(0%) brightness(100); */
}

.hamburger>img {
  transition: var(--transition) .1s;
}

@media only screen and (max-width: 900px) {
  header {
    background-color: white;
    position: fixed;
    z-index: 3;
    filter: drop-shadow(0 0 0.75rem #464646cb);
  }

  .hamburger {
    display: flex;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger:active>img {
    width: 35px;
  }

  .hamburger>img {
    width: 30px;
  }

  .headerWrapper {
    flex-direction: column;
    padding: 0;
  }


  .headerWrapper .lhs,
  .headerWrapper .rhs {
    width: 100%;
    padding: 15px 10px;
  }

  .headerWrapper .lhs {
    padding: 15px;
  }

  .headerWrapper .lhs .whiteLogo {
    display: none;
  }

  .headerWrapper .lhs .blackLogo {
    display: flex;
    width: 130px;
  }

  .headerWrapper .lhs {
    justify-content: space-between;
    z-index: 2;
    background-color: white;
    width: 100vw;
  }

  .headerWrapper .rhs {
    transition: var(--transition) var(--transitionTime2);
    opacity: 0;
    max-height: 300px;
    max-height: var(--height);
    margin-top: calc(var(--height) - (var(--height)*2));
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
    visibility: hidden;
  }

  .headerWrapper .rhsActive {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
  }

  .headerWrapper .rhs>img {
    filter: none;
  }

  .headerWrapper .rhs>img:hover {
    border-color: black;
  }


  .headerWrapper .rhs ul {
    flex-direction: column;
  }

  .headerWrapper .rhs ul li {
    color: black;
    padding: 10px 20px;
  }

  .headerWrapper .rhs ul li a {
    color: inherit;
  }

  .headerWrapper .rhs ul li.active {
    border-color: black;
    margin: 0 10px;
  }

  .headerWrapper .rhs ul li:hover {
    border-bottom: 1px solid black;
    margin-left: 15px;
    padding: 10px 20px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #1a1c28;
  width: 100%;
}


.primaryFooterInnerWrapper {
  padding: 65px 0;
  display: flex;
  width: 100%;
}


.primaryFooterInnerWrapper .footerSection {
  line-height: 1.7;
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #69767f;
  padding: 0 10px;
}

.primaryFooterInnerWrapper>div {
  display: flex;
  width: 100%;
}

.primaryFooterInnerWrapper .section1 .lhs {
  border-bottom: 1px solid #243141;
  padding-bottom: 20px;
}

.primaryFooterInnerWrapper .section1 .lhs ul li {
  list-style: disc inside;
}

.primaryFooterInnerWrapper .section1 .lhs ul li::marker,
.primaryFooterInnerWrapper .section1 .lhs ul li a {
  color: #1abe9c;
  text-decoration: none;
  transition: var(--transition) var(--transitionTime2);
}

.primaryFooterInnerWrapper .section1>a>img {
  width: 150px;
  padding-bottom: 20px;
}


.primaryFooterInnerWrapper .section1 .lhs ul li a,
.primaryFooterInnerWrapper .section1 .lhs p {
  font-size: 13px;
  padding-bottom: 10px;
}

.primaryFooterInnerWrapper .section1 .rhs {
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.primaryFooterInnerWrapper .section1 .rhs .socialLinks {
  display: flex;
  padding: 0 5px 10px;
  align-items: center;
  line-height: 1.6;
}

.primaryFooterInnerWrapper .section1 .rhs .socialLinks .linkLhs>a {
  display: flex;
  padding: 6px;
  border-radius: 3px;
}

.primaryFooterInnerWrapper .section1 .rhs .socialLinks .linkLhs img {
  width: 18px;
  filter: contrast(0%) brightness(100);
}

.primaryFooterInnerWrapper .section1 .rhs .socialLinks .linkRhs p {
  color: #a0b2bc;
  text-transform: capitalize;
  font-size: 12px;
  padding: 0 0 0px 9px;
}

.primaryFooterInnerWrapper .section1 .rhs .socialLinks .linkRhs p:last-child {
  font-size: 8px;
  padding-bottom: 0;
}

.primaryFooterInnerWrapper .section2 {
  display: flex;
}

.primaryFooterInnerWrapper .section2 h5 {
  color: #dfe1e0;
  font-size: 19px;
  padding-bottom: 15px;
  text-transform: capitalize;
}


.primaryFooterInnerWrapper .section2 .blog {
  display: flex;
  /* padding-bottom: 10px; */
  padding: 3px 0;
  border-bottom: 1px solid #243141;
}

.primaryFooterInnerWrapper .section2 .blog:last-child {
  border-bottom: none;
}

.primaryFooterInnerWrapper .section2 .blogLhs {
  padding: 10px 0;
}

.primaryFooterInnerWrapper .section2 .blogLhs img {
  width: 50px;
}

.primaryFooterInnerWrapper .section2 .blogRhs {
  line-height: 1.5;
  padding: 7px 0;
}

.primaryFooterInnerWrapper .section2 .blogRhs p {
  font-size: 12px;
  padding: 0 0 4px 20px;
}

.primaryFooterInnerWrapper .section2 .blogRhs p.title {
  font-size: 16px;
  color: #a0b2bc;
  text-transform: capitalize;
}

.primaryFooterInnerWrapper .section2 .blogRhs p:last-child {
  color: #a0b2bc;
  text-transform: capitalize;
  padding-bottom: 0;
}


.primaryFooterInnerWrapper .section3>h5 {
  color: #dfe1e0;
  font-size: 19px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.primaryFooterInnerWrapper .section3 h5:last-of-type {
  padding-bottom: 10px;
}

.primaryFooterInnerWrapper .section3 .footerWidgets ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.primaryFooterInnerWrapper .section3 .footerWidgets ul li {
  margin: 3px;
}

.primaryFooterInnerWrapper .section3 .footerWidgets ul li a {
  font-size: 10px;
  padding: 8px;
}


.primaryFooterInnerWrapper .section3 .footerLinks {
  width: 100%;
}


.primaryFooterInnerWrapper .section3 .footerLinks ul {
  overflow: auto;
  max-height: 200px;
  height: 100%;
}

ul::-webkit-scrollbar {
  width: 2px;
}

ul::-webkit-scrollbar-track {
  background-color: #1a1c28;
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li {
  list-style: square inside;
  border-bottom: 1px solid #243141;
  width: 100%;
  padding: 7px 0;
  transition: var(--transition) var(--transitionTime2);
  color: #89969f;
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li:last-child {
  border-bottom: none;
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li::marker {
  color: #1abe9c;
  transition: var(--transition) var(--transitionTime2);
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li:hover::marker {
  color: #89969f;
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  font-size: 14px;
}

.primaryFooterInnerWrapper .section3 .footerLinks ul li:hover {
  color: #1abe9c;
}

.primaryFooterInnerWrapper .section4 h5 {
  color: #dfe1e0;
  font-size: 19px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.primaryFooterInnerWrapper .section4 .contact {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #243141;
}

.primaryFooterInnerWrapper .section4 .contact:last-child {
  border-bottom: none;
}

.primaryFooterInnerWrapper .section4 .contact p {
  font-size: 12px;
  padding-bottom: 4px;
  text-transform: capitalize;
}

.primaryFooterInnerWrapper .section4 .contact p.title {
  font-size: 16px;
  color: #a0b2bc;
}

.primaryFooterInnerWrapper .section4 .contact p:last-child {
  color: #a0b2bc;
  padding-bottom: 0px;
}

@media only screen and (max-width: 900px) {
  .primaryFooterInnerWrapper>div {
    flex-direction: column;
    padding: 0 10px;
  }

  .primaryFooterInnerWrapper .footerSection {
    width: 100%;
    margin-bottom: 30px;
  }

  .primaryFooterInnerWrapper .footerSection:last-child {
    margin-bottom: 0;
  }
}

.secondaryFooterOuterWrapper {
  background-color: #222534;
  width: 100%;
}

.secondaryFooterInnerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.secondaryFooterInnerWrapper .lhs,
.secondaryFooterInnerWrapper .rhs {
  display: flex;
  align-items: center;
}

.secondaryFooterInnerWrapper .lhs {
  color: #314254;
}

.secondaryFooterInnerWrapper .lhs p,
.secondaryFooterInnerWrapper .lhs a {
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  transition: var(--transition) var(--transitionTime2);
  text-transform: capitalize;
  color: white;
  border-bottom: 0 solid rgba(255, 255, 255, 0);
}

.secondaryFooterInnerWrapper .lhs b {
  font-weight: 800;
}

.secondaryFooterInnerWrapper .lhs a {
  color: #1abe9c;
}

.secondaryFooterInnerWrapper .lhs a:hover {
  color: #1abe9c;
  padding-bottom: 2px;
  border-bottom: 1px solid #1abe9c;
}

.secondaryFooterInnerWrapper .rhs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-size: 11px;
}

.secondaryFooterInnerWrapper .rhs ul li {
  padding: 5px 8.5px;
  color: #a1b2bc;
  transition: var(--transition) var(--transitionTime2);
  cursor: pointer;
}


.secondaryFooterInnerWrapper .rhs ul li:hover {
  color: #57a193;
}

.secondaryFooterInnerWrapper .rhs ul li.active {
  color: #1ba186;
  border-bottom: 0px solid #61757100;
}

.secondaryFooterInnerWrapper .rhs ul li.active:hover {
  border-bottom: 1px solid #57a193;
}

.secondaryFooterInnerWrapper .rhs a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

@media only screen and (max-width: 900px) {
  .secondaryFooterInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secondaryFooterInnerWrapper>div {
    margin: 5px 0;
  }
}

.primaryButton {
  padding: 5px 7px;
  text-decoration: none;
  color: white;
  border: 1.5px white solid;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  transition: var(--transition) var(--transitionTime2);
  /* min-width: fit-content; */
  /* align-self: center; */
}

.primaryButton:hover {
  cursor: pointer;
  background-color: #b7a5a526;
}

.secondaryButton {
  padding: 5px 7px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  /* max-width: fit-content; */
  transition: var(--transition) var(--transitionTime2);
  /* align-self: center; */
}

.secondaryButton:hover {
  cursor: pointer;
  filter: brightness(.9);
}

.small {
  font-size: 11px;
}

.xSmall a {
  font-size: 10px;
}

.large {
  padding: 11px 13px;
}

.xLarge {
  padding: 15px 25px;
}

.cyan {
  background-color: var(--cyan);
}

.white {
  background-color: white;
  color: #2d3e50;
}

.green {
  background-color: #abd373;
}

.violet {
  background-color: #4e449a;
}

.gray {
  background-color: #a1b1bc;
}
