.bannerOuterWrapper {
    display: grid;
    align-items: center;
    position: relative;
    width: 100%;
    height: 760px;
    background-color: black;
        /* height: 100vh; */
}

.bannerOuterWrapper::before {
    content: "";
    transition: var(--transition) var(--transitionTime3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    filter: brightness(.5);
}

.banner-1::before {
    background-image: url(../images/banner-1.jpg);
}

.banner0::before {
    background-image: url(../images/banner0.jpg);
}

.banner1::before {
    background-image: url(../images/banner1.png);
}

.banner2::before {
    background-image: url(../images/banner2.jpg);
}

.banner3::before {
    background-image: url(../images/banner3.png);
}

.bannerInnerWrapper {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: -185px;
    padding: 0 70px;
    background-color: #6a6c783d;
}


.bannerInnerWrapper>img {
    width: 30px;
    margin: 50px 0;
    transition: var(--transition) var(--transitionTime1);
}

.bannerInnerWrapper>img:hover {
    margin: 45px 0;
    cursor: pointer;
}

.bannerHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background-color: #2125318c;
    padding: 25px 0px;
    justify-content: center;
}

.bannerHeading>img {
    width: 100%;
    padding-bottom: 12px;
}

.bannerHeading h5 {
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
}

.bannerHeading h5:last-child {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0;
}

@media only screen and (max-width: 900px) {
    .bannerOuterWrapper {
        height: 530px;
    }

    .bannerInnerWrapper {
        padding: 0 20px;
        margin-top: 15%;
    }

    .bannerHeading {
        width: 55%;
    }

    .bannerHeading h5 {
        font-size: 14px;
    }

    .bannerHeading h5:last-child {
        padding-top: 10px;
        font-size: 20px;
    }
}

.cardsSectionOuterWrapper {
    /* padding: 55px 0 30px; */
    padding: 55px 0;
}

.cardsSectionInnerWrapper {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardsSectionInnerWrapper .lhs,
.cardsSectionInnerWrapper .rhs {
    display: flex;
    /* padding-bottom: 30px; */
}

.cardWrapper {
    padding: 17px 15px 25px;
    width: 33%;
}

.cardWrapper p {
    font-size: 14px;
    /* color: #7a7a7a; */
    color: #aebcc5;
}

.cardHeadWrapper {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.cardHeadWrapper h5 {
    text-transform: uppercase;
    color: #4f5d6c;
    font-size: 12px;
    font-weight: 900;
}

.cardHeadWrapper img {
    margin-right: 15px;
    width: 30px;
}

@media only screen and (max-width: 900px) {
    .cardsSectionOuterWrapper {
        padding: 40px 0;
    }

    .cardsSectionInnerWrapper .lhs,
    .cardsSectionInnerWrapper .rhs {
        flex-direction: column;
    }

    .cardsSectionInnerWrapper .cardWrapper {
        width: 100%;
    }

    .cardsSectionInnerWrapper .cardWrapper:nth-last-child(odd) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cardsSectionInnerWrapper .cardWrapper:nth-last-child(odd)>p {
        text-align: right;
    }

    .cardsSectionInnerWrapper .cardWrapper:nth-last-child(even) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cardsSectionInnerWrapper .cardWrapper:nth-last-child(even)>p {
        text-align: left;
    }
}

.portfolioOuterWrapper {
    background: linear-gradient(rgb(0 0 0 / 75%), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolioInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioHead {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 610px;
    width: 100%;
    padding: 60px 0 30px;
    text-align: center;
}

.portfolioHead p.heading {
    color: #f6f6f4;
    font-size: 26px;
    padding-top: 10px;
}

.portfolioHead p b {
    color: white;
}

.portfolioHead p {
    color: white;
    font-size: 14px;
    padding-top: 15px;
}

.portfolioHead img {
    width: 35px;
    padding-top: 15px;
}

.portfolioHeadLinks {
    display: flex;
    padding: 50px 0 0;
    justify-content: space-between;
}

.portfolioHeadLinks a {
    border: 1px #3f556a solid;
    margin: 3px 6px 3px 0;
}

.portfolioHeadLinks a:last-child {
    margin-right: 0;
    /* margin-bottom: 0; */
}

.portfolioContent .uhs {
    display: flex;
    transition: var(--transition) var(--transitionTime2);
}

.portfolioContent .uhs>div {
    display: flex;
}

.portfolioContent .uhs>div>img {
    width: 50%;
}

.portfolioContent .uhs.hidden {
    margin-top: -15.8%;
    z-index: -1;
}

.portfolioContent .bhs {
    display: flex;
}

.portfolioContent .bhs .lhs {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.portfolioContent .bhs .lhs .uLhs {
    display: flex;
}

.portfolioContent .bhs .lhs .uLhs>img {
    width: 100%;
}

.portfolioContent .bhs .lhs .bLhs {
    display: flex;
}

.portfolioContent .bhs .lhs .bLhs>img {
    width: 50%;
}

.portfolioContent .bhs .rhs {
    z-index: 2;
    display: flex;
}

.portfolioContent .bhs .rhs>img {
    width: 100%;
}

.portfolioFoot {
    padding: 60px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .portfolioHead {
        padding: 30px 0 20px;
    }

    .portfolioHead p.heading {
        font-size: 16px;
        padding: 0;
    }

    .portfolioHead img {
        width: 30px;
        padding-top: 10px;
    }

    .portfolioHead p {
        font-size: 12px;
        padding-top: 15px;
    }

    .portfolioHeadLinks {
        padding: 20px 0 0;
        width: 83%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolioHeadLinks a {
        padding: 7px 9px;
    }

    .portfolioContent .uhs {
        flex-direction: column-reverse;
    }

    .portfolioContent .uhs.hidden {
        margin-top: -63%;
    }

    .portfolioContent .bhs {
        flex-direction: column-reverse;
    }

    .portfolioFoot {
        padding: 30px 0;
    }

    .portfolioFoot>a {
        pad: 10px 15px;
        font-size: 12px;
    }

}


.purchaseOuterWrapper {
    background-color: #58d9ef;
    padding: 42px 30px;
}

.purchaseInnerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchaseInnerWrapper .lhs p {
    color: white;
}

@media only screen and (max-width: 900px) {
    .purchaseOuterWrapper {
        padding: 35px 30px;
    }

    .purchaseInnerWrapper .lhs {
        width: 50%;
    }

    .purchaseInnerWrapper .lhs p {
        font-size: 13px;
    }

    .purchaseInnerWrapper .rhs>a {
        padding: 5px 7px;
    }
}

.skillsServicesOuterWrapper {
    padding: 55px 0px;
}

.skillsServicesInnerWrapper {
    display: flex;
    justify-content: space-evenly;
}

.skillsOuterWrapper,
.servicesOuterWrapper {
    width: 46%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px 0;
}

.skillsOuterWrapper>p,
.servicesOuterWrapper>p {
    font-size: 24px;
    font-weight: lighter;
}

.bargraphsWrapper,
.servicesInnerWrapper {
    display: flex;
    margin-top: 15px;
}

.bargraphsWrapper {
    flex-direction: column;
}


.bargraphsWrapper .bargraph {
    border: 1px #e0e0e0 solid;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 9px;
}

.bargraphsWrapper .bargraph:last-child {
    margin-bottom: 0px;
}

.bargraphsWrapper .bargraph .graph {
    padding: 8px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    transition: cubic-bezier(0, 0, 0.66, 1.38) var(--transitionTime3);
}

.bargraphsWrapper .bargraph .g2o {
    background: rgb(165, 234, 115);
    background: linear-gradient(90deg, rgba(165, 234, 115, 1) 0%, rgba(249, 203, 56, 1) 100%);
    width: 85%;
}

.bargraphsWrapper .bargraph .o2y {
    background: rgb(240, 148, 101);
    background: linear-gradient(90deg, rgba(240, 148, 101, 1) 0%, rgba(254, 211, 10, 1) 100%);
    width: 78%;
}

.bargraphsWrapper .bargraph .b2g {
    background: rgb(51, 231, 219);
    background: linear-gradient(90deg, rgba(51, 231, 219, 1) 0%, rgba(176, 254, 132, 1) 100%);
    width: 75%;
}

.bargraphsWrapper .bargraph .p2b {
    background: rgb(168, 134, 229);
    background: linear-gradient(90deg, rgba(168, 134, 229, 1) 0%, rgba(101, 232, 192, 1) 100%);
    width: 83%;
}

.bargraphsWrapper .bargraph:hover>.graph{
    width: 100%;
    /* background-image: linear-gradient(90deg); */
}

.servicesInnerWrapper .rhs {
    padding-left: 25px;
}

.servicesInnerWrapper .rhs p {
    color: #a6b5c2;
    padding-bottom: 25px;
}


@media only screen and (max-width: 900px) {
    .skillsServicesOuterWrapper {
        padding: 35px 0;
    }

    .skillsServicesInnerWrapper {
        flex-direction: column;
    }

    .skillsOuterWrapper,
    .servicesOuterWrapper {
        width: 100%;
        padding: 10px 15px;
    }

    .servicesOuterWrapper {
        align-items: flex-end;
    }

    .servicesInnerWrapper {
        flex-direction: row-reverse;
    }

    .servicesInnerWrapper .rhs {
        padding: 0;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.statsOuterWrapper {
    background-color: #e36968;
    padding: 48px 0;
}

.statsInnerWrapper {
    display: flex;
    justify-content: space-around;
}

.statsInnerWrapper>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsInnerWrapper>div>h5 {
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
}

.statsInnerWrapper>div>p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .statsOuterWrapper {
        padding: 30px 0;
    }

    .statsInnerWrapper>div>h5 {
        font-size: 19px;
    }
}

.advertisementOuterWrapper {
    /* display: none; */
    background-image: url(../images/advertisement.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    margin-bottom: 30px;
}

.advertisementInnerWrapper {
    display: flex;
    padding: 0 20px;
}

.advertisementInnerWrapper .lhs {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: white;
    width: 50%;
}

.advertisementInnerWrapper .lhs p {
    padding-bottom: 15px;
}

.advertisementInnerWrapper .lhs p:last-child {
    padding-bottom: 0;
    font-weight: bold;
    text-transform: capitalize;
}

.advertisementInnerWrapper .rhs {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.advertisementInnerWrapper .rhs img {
    width: 110px;
}

@media only screen and (max-width: 900px) {
    .advertisementOuterWrapper {
        padding: 55px 0;
        margin: 0;
    }

    .advertisementInnerWrapper .lhs p {
        font-size: 12px;
    }

    .advertisementInnerWrapper .rhs img {
        object-fit: scale-down;
        width: 80px;
        width: 30%;
    }
}

.linksOuterWrapper {
    padding: 65px 0 50px;
}

.linksInnerWrapper {
    display: flex;
    padding: 0 20px;
}

.linksInnerWrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.linksInnerWrapper ul li {
    list-style: inside square;
    font-size: 10px;
    margin-bottom: 10px;
    margin-right: 185px;
    margin-right: 16%;
    width: fit-content;
}

.linksInnerWrapper ul li:last-child {
    padding-bottom: 0;
}

.linksInnerWrapper ul li::marker,
.linksInnerWrapper ul li a {
    content: "▮  ";
    color: #a3b1ba;
    text-decoration: none;
    transition: var(--transition) var(--transitionTime2);
    margin-left: 5px;
}

.linksInnerWrapper ul li:hover::marker,
.linksInnerWrapper ul li a:hover {
    content: "▯  ";
    color: #1cbb9b;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .linksOuterWrapper {
        padding: 45px 0;
    }

    .linksInnerWrapper ul li {
        margin-right: 8%;
    }
}

.blogInnerWrapper {
    display: flex;
}

.blogInnerWrapper .blog {
    position: relative;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 351px;
    /* justify-content: flex-end; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.woman1 {
    background-image: url(../images/woman4.png);
}

.woman2 {
    background-image: url(../images/woman4.png);
}

.woman3 {
    background-image: url(../images/woman4.png);
}

.woman4 {
    background-image: url(../images/woman4.png);
}

.woman5 {
    background-image: url(../images/woman4.png);
}

.blogHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    transition: var(--transition) var(--transitionTime2);
}

.blog:hover .blogHeader {
    bottom: 60px;
}

.blog:hover .blogLinks {
    display: flex;
    bottom: 20px;
    opacity: 1;
    z-index: 1;
}

.blogHeader>h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.blogHeader>p {
    text-transform: capitalize;
    font-size: 9px;
}

.blogLinks {
    position: absolute;
    bottom: -20px;
    opacity: 0;
    display: flex;
    transition: var(--transition) var(--transitionTime2);
    z-index: -1;
}

.blogLinks a {
    display: flex;
    filter: brightness(1);
    background-color: white;
    margin: 0 5px;
    border-radius: 50%;
}

.blogLinks a img {
    filter: contrast(0) brightness(0);
    height: 25px;
    width: 25px;
    padding: 6px;
}

@media only screen and (max-width: 900px) {
    .blogInnerWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blogInnerWrapper .blog {
        width: 50%;
    }

}

.featuresInnerWrapper {
    display: flex;
}

.featuresCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    padding: 45px 55px;
    color: white;
}

.featuresCard .title {
    padding-bottom: 7px;
    font-size: 17px;
}

.featuresCard p {
    padding-bottom: 23px;
    font-size: 12px;
}

.featuresCard>a {
    max-width: fit-content;
}

@media only screen and (max-width: 900px) {
    .featuresInnerWrapper {
        flex-direction: column;
    }

    .featuresCard {
        width: 100%;
        z-index: 2;
    }

    .featuresCard:nth-last-child(odd) {
        align-items: flex-end;
    }

    .featuresCard:nth-last-child(odd) p {
        text-align: right;
    }
}

.formOuterWrapper {
    filter: brightness(.6);
    background-image: url(../images/formBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 70px 0;
}

.formInnerWrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    opacity: .8;
}

.formHeadingWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50%;
    margin-bottom: 60px;
}

.formHeadingWrapper>p {
    /* color: #f5f5f6; */
    color: #ffffff;
    text-align: center;
}

.formHeadingWrapper>p.heading {
    text-transform: capitalize;
    font-size: 21px;
    padding-bottom: 10px;
}

.formContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formContent .lhs,
.formContent .rhs {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 46%;
    padding: 20px;
    height: fit-content;
}

.formContent .lhs>h5,
.formContent .lhs>p {
    color: white;
    padding-bottom: 14px;
}

.formContent .lhs h5 {
    font-size: 17px;
    text-transform: uppercase;
}

.formContent .lhs p {
    font-size: 11px;
}

.formContent .formInfo {
    display: flex;
    padding-bottom: 6px;
}

.formContent .formInfo img {
    filter: contrast(0%) brightness(100);
    width: 15px;
}

.imageLinks {
    padding-top: 10px;
}

.imageLinks a {
    padding-right: 5px;
}

.formContent .formInfo p {
    color: white;
    padding-left: 10px;
}

.formContent .rhs form {
    display: flex;
    flex-direction: column;
}

.formContent .rhs input[type=text],
.formContent .rhs input[type=email],
.formContent .rhs form input[type=text],
.formContent .rhs form input[type=email],
.formContent .rhs textarea {
    color: white;
    margin-bottom: 15px;
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    resize: none;
}

.formContent .rhs input[type=submit],
.formContent .rhs form input[type=submit] {
    max-width: fit-content;
}

@media only screen and (max-width: 900px) {
    .formOuterWrapper {
        padding: 50px 0;
    }

    .formInnerWrapper {
        padding: 0 10px;
    }

    .formContent {
        flex-direction: column;
    }

    .formContent .lhs {
        margin-bottom: 30px;
    }

    .formContent .lhs,
    .formContent .rhs {
        width: 100%;
    }
}

.mapWrapper {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 325px;
}

.mapWrapper iframe {
    width: 100%;
}


.bannerSecondaryOuterWrapper {
    display: grid;
    align-items: center;
    position: relative;
    width: 100%;
    height: 399px;
}

.bannerSecondaryOuterWrapper::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/man-using-laptop.png);
    /* background-color: purple; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    filter: grayscale(100%) brightness(.5);
}

.bannerSecondaryInnerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerSecondaryInnerWrapper h5,
.bannerSecondaryInnerWrapper p {
    color: white;
    padding-bottom: 10px;
}

.bannerSecondaryInnerWrapper h5 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
}

.bannerSecondaryInnerWrapper h5 span {
    font-weight: bold;
}

.bannerSecondaryInnerWrapper a {
    margin-top: 25px;
    padding: 15px 35px;
    font-weight: 900;
}

@media only screen and (max-width: 900px) {
    .bannerSecondaryOuterWrapper {
        height: 300px;
    }

    .bannerSecondaryOuterWrapper::before {
        background-position: center;
    }

    .bannerSecondaryInnerWrapper h5 {
        font-size: 16px;
    }

    .bannerSecondaryInnerWrapper p {
        font-size: 10px;
    }

    .bannerSecondaryInnerWrapper a {
        padding: 10px 25px;
        margin-top: 20px;
        font-size: 11px;
    }
}
